---
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { getPostFromContent } from '@/cms/post';
import translate from '@/lib/translate';
import { fetchTranslations } from '@/api/yamls';

import Layout from '@/components/Layout/Layout.astro';

import InnerAsideLayout from '@/components/InnerAsideLayout.astro';
// import AsideServices from '../../service/components/AsideServices.astro';
import AsideFeaturedPosts from './components/AsideFeaturedPosts.astro';
import AsideRecentPosts from './components/AsideRecentPosts.astro';
import PostInfo from './components/PostInfo.astro';
import LastUpdated from './components/LastUpdated.astro';
import TagsList from './components/TagList.astro';
const locale = getLocaleFromUrlPathname(Astro.request.url.pathname);
const post = getPostFromContent(Astro.props.content, Astro.request.canonicalURL.pathname, locale);
const { title, metaTitle, headline, metaDescription, cover, noindex, nofollow, datePublished, dateModified, readingTime, html, authors, tags } =
  post;
/* <AsideServices mainNav={mainNav} /> */
const translations = fetchTranslations(locale);
const t: ITranslationFunc = function (key: string, params?: Record<string, string>): string {
  return translate(key, translations, params);
};

const breadcrumbs = {
  items: ['blog'],
  tailTitle: title,
};

const seo = {
  title: metaTitle,
  description: metaDescription,
  headline,
  datePublished,
  dateModified,
  authors,
  tags,

  noindex,
  nofollow,

  pageType: 'BlogPosting',
  cover, // TODO:
};
---

<Layout {seo} {title} {headline} {breadcrumbs}>
  <PostInfo authors={authors} datePublished={datePublished} readingTime={readingTime} t={t} />
  <InnerAsideLayout cover={cover}>
    <div slot="html">
      <div set:html={html} />
      {tags && <TagsList tags={tags} extraStyle="mt-12" />}
    </div>
    <aside slot="aside" class="flex flex-col">
      <AsideFeaturedPosts t={t} />
      <AsideRecentPosts t={t} />
    </aside>
  </InnerAsideLayout>
  {dateModified && ((datePublished && dateModified !== datePublished) || !datePublished) && <LastUpdated dateModified={dateModified} t={t} />}
</Layout>
