---
import { localizePath } from '@/lib/i18n-utils';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { getPageFromContent } from '@/cms/page';
import { fetchPosts } from '@/api/posts';

import Layout from '@/components/Layout/Layout.astro';
import NoPosts from './components/NoPosts.astro';

const pathname = Astro.request.url.pathname;
const locale = getLocaleFromUrlPathname(pathname);
const page = getPageFromContent(Astro.props.content, pathname, locale);

const { title, headline, metaTitle, metaDescription, noindex, nofollow } = page;

const breadcrumbs = {
  items: ['blog'],
  tailTitle: title,
};

const seo = {
  title: metaTitle,
  description: metaDescription,
  headline,
  noindex,
  nofollow,
};

const posts =
  (await fetchPosts(locale, {
    filter: (p) => p.tags,
  })) || [];

const tags = [...posts.flatMap((p) => [...p.tags!]).reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map())].sort((a, b) => {
  return b[1] - a[1];
});
---

<Layout {seo} {title} {headline} {breadcrumbs}>
  <section>
    {tags.length > 0 ? (
      <ul>
        {tags.map(([tag, count]) => (
          <li>
            <a href={localizePath(`/blog/tags/${tag}/`, locale)}>{tag}</a> ({count})
          </li>
        ))}
      </ul>
    ) : (
      <NoPosts />
    )}
  </section>
</Layout>
