---
import MenuItem from './MenuItem.astro';
import SubMenu from './SubMenu.astro';
export interface Props extends Link {
  submenuId?: string;
  submenu?: Link[];
}

const pathname = Astro.request.url.pathname;

const { title, to, submenu, submenuId = '' } = Astro.props as Props;
---

{submenu ? <SubMenu submenuId={submenuId} to={to} title={title} items={submenu} pathname={pathname} /> : null}
{!submenu ? (
  <li class="m-0 lg:inline-flex lg:h-full lg:items-center">
    <MenuItem to={to} isActive={to === pathname}>
      {title}
    </MenuItem>
  </li>
) : null}
