---
import MenuItem from './MenuItem.astro';

export interface Props {
  submenuId: string;
  title: string;
  to: string;
  items: Array<Link>;
  pathname: string;
}

// const styleMenuItemExtra = 'xl:after:inline-block xl:after:content-empty xl:after:border-solid xl:after:border-gray-900 xl:after:border-t-0 xl:after:border-r xl:after:border-b xl:after:border-l-0 xl:after:p-0.5 xl:after:ml-2 xl:after:rotate-45';

const { submenuId, title, to, items, pathname } = Astro.props as Props;
const visible = true;
/* '2px 2px 15px 0 rgba(0,0,0,.8)' */
---
<li class="submenu xl:relative xl:flex xl:h-full xl:items-center">
  <div class="relative inline-flex w-full items-center xl:h-full">
    <MenuItem id={submenuId} isActive={pathname === to} to={to} extraStyle="menu-item-extra">
      {title}
    </MenuItem>
    <div
      type="button" aria-haspopup="menu"
      class={
        `absolute right-0 h-full w-16 cursor-pointer
    after:absolute
    after:top-0
    after:bottom-0
    after:right-0
    after:left-0
    after:m-auto
    after:inline-block
    after:h-2
    after:w-2
    after:border-t-0
    after:border-r
    after:border-b
    after:border-l-0
    after:border-solid
    after:border-gray-900
    after:content-empty
    xl:hidden
    after:rotate-45
    hover:after:rotate-225`
      }
    />
  </div>
  <ul role="menu" aria-labelledby={submenuId}
    class="submenu-items m-0 list-none flex-col bg-slate-50 p-0 xl:absolute xl:top-header-xl xl:left-0 xl:z-50 xl:bg-white xl:shadow-sm hidden"
  >
    {items.map((item) => (
      <li class="m-0" role="none">
        <MenuItem isActive={pathname === item.to} to={item.to}>
          {item.title}
        </MenuItem>
      </li>
    ))}
  </ul>
</li>

<style>
.submenu:hover .submenu-items {
  display: flex;
}
</style>
