---
import MenuItem from './MenuItem.astro';

export interface Props {
  submenuId: string;
  title: string;
  to: string;
  items: Array<Link>;
  pathname: string;
}

// const styleMenuItemExtra = 'lg:after:inline-block lg:after:content-empty lg:after:border-solid lg:after:border-gray-900 lg:after:border-t-0 lg:after:border-r lg:after:border-b lg:after:border-l-0 lg:after:p-0.5 lg:after:ml-2 lg:after:rotate-45';

const { submenuId, title, to, items, pathname } = Astro.props as Props;

/* '2px 2px 15px 0 rgba(0,0,0,.8)' */
---

<li class="submenu menu-item-has-submenu">
  <div class="relative inline-flex w-full items-center lg:h-full">
    <MenuItem id={submenuId} to={to} isActive={pathname === to}>
      {title}
    </MenuItem>
    <div type="button" aria-haspopup="menu" class="submenu-toggle" />
  </div>
  <ul role="menu" aria-labelledby={submenuId} class="submenu-items">
    {items.map((item) => (
      <li class="m-0" role="none">
        <MenuItem  to={item.to} isActive={pathname === item.to}>
          {item.title}
        </MenuItem>
      </li>
    ))}
  </ul>
</li>

<style>
  .submenu {
    @apply lg:relative lg:flex lg:items-center lg:h-full;
  }

  @media (min-width: theme('screens.lg')) {
    .submenu::after {
      display: inline-block;
      content: '';
      border-style: solid;
      border-color: theme('colors.gray.500');
      border-width: 0 1px 1px 0;
      padding: 3px;
      margin-left: -9px;
      transform: rotate(45deg);
    }
    .submenu:hover::after {
      transform: rotate(225deg);
    }
  }
  .submenu-toggle {
    @apply absolute right-0 h-full w-16 cursor-pointer
    after:absolute
    after:top-0
    after:bottom-0
    after:right-0
    after:left-0
    after:m-auto
    after:inline-block
    after:h-2
    after:w-2
    after:rotate-45
    after:border-t-0
    after:border-r
    after:border-b
    after:border-l-0
    after:border-solid
    after:border-gray-900
    after:content-empty
    hover:after:rotate-225
    lg:hidden;
  }

  .submenu-items {
    @apply m-0 p-0 hidden list-none flex-col bg-slate-50 lg:absolute lg:top-header-xl lg:left-0 lg:bg-white lg:shadow-sm lg:z-50;
  }
  .submenu:hover .submenu-items {
    display: flex;
  }
</style>
