---
import { format } from 'date-fns';
import { uk, ru } from 'date-fns/locale';
import readingTime from 'reading-time';

import { isDefaultLocale } from '../lib/i18n-utils';
import Layout from '../components/Layout.astro';

const {title, locale, cover, datePublished, astro} = Astro.props.post;
const stats = readingTime(astro.source);
const formatter = isDefaultLocale(locale) ? uk : ru;
const formatDate = (d) => format(new Date(d), 'dd MMMM yyyy', { locale: formatter });

---
<Layout title={title}>
  {cover && cover.sm && <img src={Astro.resolve(cover.sm)} alt={cover.alt} />}
  {stats.minutes && <div>{stats.minutes > 1 ?  Math.ceil(stats.minutes) : 1} min read</div>}
  {datePublished && <div>{formatDate(datePublished)}</div>}
  {astro.html}
</Layout>
