----
import { prevLink, nextLink } from './page-link-params';

import Layout from '../../../../components/Layout.astro';
import SEO from '../../../../components/SEO.astro';

import PostPagination from './PostPagination';
// import { CategoryWidget, TagsWidget, YearsWidget } from '@/components/post-widgets';
const config = {
  siteUrl: '',
  readMore: 'ddd',
};
const t = (s) => s;
const {
  pathname,
  pageContext: { locale, to, currentPage, numPages },
  title,
  readMore,
  page: { html, title: defaultTitle, metaTitle, headline, metaDescription, noindex, breadcrumbs },
  posts,
} = Astro.props;

const isFirst = currentPage === 1;
const isLast = currentPage === numPages;

const links = [];

if (numPages > 1) {
  if (!isFirst) {
    links.push({
      rel: 'prev',
      href: config.siteUrl + prevLink(currentPage, to),
    });
  }
  if (!isLast) {
    links.push({
      rel: 'next',
      href: config.siteUrl + nextLink(currentPage, to),
    });
  }
}

const readMoreText = t(readMore || config.readMore);
---
<Layout
  title={title || defaultTitle}
  headline={headline}
  breadcrumbs={breadcrumbs}
>
  <SEO
    locale={locale}
    title={metaTitle}
    description={metaDescription}
    pathname={pathname}
    noindex={noindex}
    breadcrumbs={breadcrumbs}
    pageType="Blog"
    links={links}
  />
  {isFirst && html && <div class="mt-6 mb-10">{html}</div>}

  <div class="grid gap-7 lg:columns-2 xl:columns-3">
    {posts.edges.map(({ node }) => <slot name="card" card={{slug: node.slug, node, readMoreText}} />)}
  </div>
  <PostPagination currentPage={currentPage} numPages={numPages} slug={to} />
</Layout>
