---
import config from '@/config/website';
import i18n from '@/config/i18n';
import getImagePath from '@/lib/getImagePath';
import { fetchAddress } from '@/api/yamls';
import getWebPageSchema from '@/components/SEO/components/Schema/helpers/getWebPageSchema';

import Image from '@/components/Image.astro';
import ReadMore from './ReadMore.astro';
import TagList from './TagList.astro';

export interface Props {
  post: Post;
  readMore?: string;
}
const {
  post: { locale, cover, title, excerpt, headline, metaDescription, datePublished, dateModified, authors, tags, to },
  readMore,
} = Astro.props as Props;

const { siteUrl, siteLogo } = config;
const address = fetchAddress(locale);

const schema = getWebPageSchema({
  htmlLang: i18n.locales[locale]!.htmlLang,
  organizationName: address.name,
  siteUrl,
  siteLogo,

  publisher: '',

  pageUrl: `${siteUrl}${to}`,
  pageType: 'BlogPosting',

  title,
  headline: headline || metaDescription,
  datePublished,
  dateModified,
  authors,
  imgUrl: cover?.src ? `${siteUrl}${cover.src}` : '',
});
---

<article class="bg-gray-50 rounded hover:shadow">
  <script type="application/ld+json" set:html={JSON.stringify(schema)}></script>
  {cover?.src && (
    <a href={to}>
      <Image src={getImagePath(cover.src)} alt={cover.alt} classes="h-auto w-full rounded-t" caption={cover.caption} />
    </a>
  )}
  <div class="p-4">
    <a href={to} class="color-text focus:no-underline hover:no-underline active:no-underline">
      <h2 class="m-0 text-lg font-body font-semibold normal-case text-left">{title}</h2>
    </a>
    {excerpt && <p class="pt-2">{excerpt}</p>}
    {tags && <TagList tags={tags} extraStyle="my-4"/>}
    {readMore && <ReadMore to={to} title={readMore} />}
  </div>
</article>
