---
import pagination from '../../../../lib/pagination';

const getBasePath = (p) => {
  const a = p.split('/');
  if (!p.endsWith('/')) {
    a.push('');
  }
  if (isNaN(a[a.length - 2])) {
    return a.join('/');
  }
  a.splice(-2, 1);
  return a.join('/');
};

const { url, currentPage, numPages } = Astro.props;

const pages = pagination(currentPage, numPages);
const basePath = getBasePath(url.current);

const style = 'h-10 mx-1 min-w-[2.5rem] text-center';
const styleLink = 'transition-shadow hover:shadow hover:no-underline';
---
{ numPages > 1 ? (
  <div class="flex flex-wrap justify-center w-full my-12">
    {url.prev ? <a class={`${style} ${styleLink}`} href={url.prev}>&larr;</a> : null}
    {pages.map((page) => {
      if (typeof page !== 'number') {
        return <span class="style">{page}</span>;
      }
      return (
        <a
          href={`${basePath}${page}/`}
          class={`${style} ${styleLink}${page === currentPage ? 'text-black shadow-md' : ''}`}
        >
          {page}
        </a>
      );
    })}
    {url.next ? <a href={url.next} class={`${style} ${styleLink}`}>&rarr;</a> : null}
  </div>
) :  null}
