---
import i18n from '../../../../config/i18n';
import config from '../../../../config/website';
import { fetchTranslations } from '../../../../lib/api';
import translate from '../../../../lib/translate';

import Layout from '../../../../components/Layout.astro';

import PostCard from './PostCard.astro';
import PostPagination from './PostPagination.astro';

// import { CategoryWidget, TagsWidget, YearsWidget } from '@/components/post-widgets';

const pathname = Astro.request.url.pathname;
const locale = Astro.request.params.locale || i18n.defaultLocale;
const siteUrl = Astro.site.href; //Astro.site.origin - without trailing slash
const translations = fetchTranslations(locale);

const {
  page: { data: posts, currentPage, total: numPages, url },
  indexPage: { html, title: defaultTitle, metaTitle, headline, metaDescription, noindex, breadcrumbs },
} = Astro.props;

const {
  // TODO:
  title,
  readMore,
  // TODO end
} = Astro.props;

const t = (key, params = undefined) => translate(key, translations, params);

const isFirst = currentPage === 1;

const links = [];

if (numPages > 1) {
  if (url.prev) {
    links.push({
      rel: 'prev',
      href: siteUrl + url.prev,
    });
  }
  if (url.next) {
    links.push({
      rel: 'next',
      href: siteUrl + url.next,
    });
  }
}

const readMoreText = t(readMore || config.readMore);
---

<Layout
  title={title || defaultTitle}
  {headline}
  {breadcrumbs}
  seo={{
    locale,
    title: metaTitle || title,
    description: metaDescription || headline,
    pathname,
    noindex,
    breadcrumbs,
    pageType: 'Blog',
    links,
  }}
>
  {isFirst && html ? <div class="mt-6 mb-10">{html}</div> : null}

  <div class="grid gap-7 lg:grid-cols-2 xl:grid-cols-3">
    {posts.map((post) => <PostCard post={post} readMore={readMoreText} />)}
  </div>
  <PostPagination {currentPage} {numPages} {url} />
</Layout>
