---
import theme from '../theme';
const { name, title, to } = Astro.props;

// Google Does Not Use rel=me Microformats
// rel="me noreferrer"
---
<a class={`
flex justify-center items-center
 ${theme.colors.text} no-underline w-8 h-8 my-0 mx-3
 border-2 border-solid rounded
 ${theme.colors.highlight}
 hover:bg-white
 hover:text-black
 hover:border-transparent
 hover:transition-colors
 hover:ease-in-out
 `} href={to} target="_blank" rel="noreferrer" aria-label={name} title={title}>
  <slot />
</a>
