---
import i18n from '../config/i18n.js';

import { fetchContacts, fetchMainNav, fetchFooterNav, fetchSocialLinks, fetchAddress, fetchTranslations } from '../lib/api';

import SEO from './SEO.astro';
import Header from './header/Header.astro';
import Footer from './footer/Footer.astro';

const pathname = Astro.request.url.pathname;
const locale = Astro.request.params.locale || i18n.defaultLocale;

const contacts = fetchContacts();
const mainNav = fetchMainNav(locale);
const footerNav = fetchFooterNav(locale);
const socialLinks = fetchSocialLinks(locale);
const address = fetchAddress(locale);
const translations = fetchTranslations(locale);

const data = {
  pathname,
  locale,
  contacts,
  mainNav,
  footerNav,
  socialLinks,
  address,
  translations,
};

const { seo } = Astro.props;
// const styleMain = `w-full flex-auto mt-${headerHeight.sm} pb-${headerHeight.sm} xl:mt-${headerHeight.xl} xl:pb-${headerHeight.xl}`

// https://github.com/withastro/astro/issues/2410
// @import "../styles/global.css";
---

<html lang={i18n.locales[locale].htmlLang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO {seo} />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preload" href="/assets/fonts/oswald-v36-cyrillic-700.woff2" as="font" type="font/woff2" crossOrigin="anonymous" />

    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />

    <style global>

    </style>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header {data} />
      <main class="w-full flex-auto mt-14 pb-14 xl:mt-18 xl:pb-18">
        <slot />
      </main>
      <Footer {data} />
    </div>
  </body>
</html>
