---
export interface Props {
  title?: string;
  subtitle?: string;
  text?: string;
  image?: Image;
  textLast?: boolean;
  textAlign?: string;
}

const { title, subtitle, text, image, textLast, textAlign = 'match-parent' } = Astro.props;

const styleText = `mt-7 ${textAlign}`;
---

<section class="mb-10 last-of-type:mb-0">
  {title && <h2 class="mb-4 text-center font-heading text-2xl font-bold xl:text-2xl">{title}</h2>}
  {subtitle && <div css="mt-2 text-center">{subtitle}</div>}
  {image && image.src && <img class="mt-2" src={image.src} alt={image.alt} title={image.title} />}
  {!textLast && text && <div class={styleText}>{text}</div>}
  <div class="mt-2"><slot /></div>
  {textLast && text && <div css={styleText}>{text}</div>}
</section>
