---
export interface Props {
  title?: string;
  subtitle?: string;
  text?: string;
  image?: Image;
  textLast?: boolean;
  textAlign?: string;
}

import getImagePath from '@/lib/getImagePath';
import Image from '@/components/Image.astro';

const { title, subtitle, text, image, textLast, textAlign = 'match-parent' } = Astro.props as Props;

const styleText = `mt-7 ${textAlign}`;
---

<section class="mb-10 last-of-type:mb-0">
  {title && <h2 class="mb-4 text-center font-heading text-2xl font-bold lg:text-2xl">{title}</h2>}
  {subtitle && <div class="mt-2 text-center">{subtitle}</div>}
  {image?.src && <Image src={getImagePath(image.src)} alt={image.alt} classes="mt-2" caption={image.caption} />}
  {!textLast && text && <div class={styleText}>{text}</div>}
  <div class="mt-2"><slot /></div>
  {textLast && text && <div class={styleText}>{text}</div>}
</section>
