---
import config from '@/config/website';
import i18n from '@/config/i18n';

import { fetchAddress } from '@/lib/api';
import getWebPageSchema from '@/components/SEO/components/Schema/helpers/getWebPageSchema';

import ReadMore from './ReadMore.astro';

export interface Props {
  post: Post;
  readMore?: string;
}
const {
  post: { locale, cover, title, excerpt, headline, metaDescription, datePublished, dateModified, authors, to },
  readMore,
} = Astro.props;

const { siteUrl, siteLogo } = config;
const address = fetchAddress(locale);

const schema = getWebPageSchema({
  htmlLang: i18n.locales[locale]!.htmlLang,
  organizationName: address.name,
  siteUrl,
  siteLogo,

  publisher: '',

  pageUrl: `${siteUrl}${to}`,
  pageType: 'BlogPosting',

  title,
  headline: headline || metaDescription,
  datePublished,
  dateModified,
  authors,
  imgUrl: cover && cover.src ? `${siteUrl}${cover.src}` : '',
});
---

<article class="bg-gray-50 rounded hover:shadow">
  <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  {cover ? (
    <a href={to}>
      <img class="h-auto w-full rounded-t" src={cover.src} alt={cover.alt} title={cover.title} />
    </a>
  ) : null}
  <div class="p-4">
    <a href={to} class="color-text focus:no-underline hover:no-underline active:no-underline">
      <h2 class="m-0 text-lg font-body font-semibold normal-case text-left">{title}</h2>
    </a>
    <p class="pt-2">{excerpt}</p>
    <ReadMore {to} title={readMore} />
  </div>
</article>
