---
export interface Props {
  contacts: Contacts;
  footerNav: FooterNav;
  socialLinks: SocialLinks;
  address: Address;
  translations: Translations;
}

import translate from '@/lib/translate';
import LocalizedLink from '../LocalizedLink.astro';

import theme from './theme';
import Container from './components/Container.astro';
import LegalInfo from './components/LegalInfo.astro';
import SocialLinks from './components/SocialLinks.astro';
import FooterNavigation from './components/FooterNavigation.astro';
import FooterWidget from './components/FooterWidget.astro';
import WidgetWrapper from './components/WidgetWrapper.astro';

import OrganizationEmail from '../organization/OrganizationEmail.astro';
import OrganizationOpeningHours from '../organization/OrganizationOpeningHours.astro';
import OrganizationPhones from '../organization/OrganizationPhones.astro';

// import OrganizationSite from '../organization/OrganizationSite.astro';
//             <OrganizationSite />

import Button from '../Button.astro';

const {
  contacts: { phones, emails, openingHours, foundingDate },
  footerNav,
  socialLinks,
  address,
  translations,
} = Astro.props;

const t: ITranslationFunc = function (key: string, params?: Record<string, string>): string {
  return translate(key, translations, params);
};
---

<footer class={`w-full text-small ${theme.colors.text} ${theme.colors.bg}`}>
  <Container>
    <div class="grid gap-6 py-5 xl:py-6 xl:grid-cols-[1fr_1fr_2fr]">
      <WidgetWrapper>
        <FooterWidget title={t('footer.contacts')}>
          <div class="grid gap-3 xl:gap-0">
            <OrganizationEmail {emails} />
            <OrganizationPhones {phones} />
          </div>
        </FooterWidget>
      </WidgetWrapper>

      <WidgetWrapper>
        <FooterWidget title={t('footer.opening_time')}>
          <OrganizationOpeningHours {openingHours} {t} />
        </FooterWidget>
      </WidgetWrapper>

      <WidgetWrapper>
        <FooterWidget title={t('footer.inquiry.title')}>
          <div class="mb-3">{t('footer.inquiry.text')}</div>
          <Button as="link" overrideCSS="justify-center xl:self-start" to="/inquiry/">
            {t('footer.inquiry.button_title')}
          </Button>
        </FooterWidget>
      </WidgetWrapper>
    </div>
  </Container>

  <div class="w-full py-6 px-0 bg-slate-500">
    <Container>
      {socialLinks ? <SocialLinks {socialLinks} /> : null}
      <FooterNavigation {footerNav} />
    </Container>
  </div>

  <div class="w-full py-2 px-0 bg-slate-900 text-xs">
    <Container>
      <div class="flex justify-between xl:justify-center">
        <LegalInfo {foundingDate} name={address?.name} />
        <LocalizedLink to="/privacy/">{t('footer.privacyPolicy')}</LocalizedLink>
      </div>
    </Container>
  </div>
</footer>
