---
import { Icon } from 'astro-icon';
export interface Props {
  breadcrumbs: Array<Link>;
}

const { breadcrumbs } = Astro.props;

const styleItem = 'align-middle text-current';
const styleLink = `
  inline-flex items-center
  after:content-empty
  after:block
  after:w-2 after:h-2
  after:mx-2
  after:border-t-2
  after:border-r-2
  after:border-solid
  after:border-current
  after:rotate-45
  after:opacity-80
`;
---
{ breadcrumbs && (
<nav aria-label="Breadcrumb" class="mb-0 whitespace-nowrap overflow-hidden text-ellipsis align-middle text-sm text-current">
  <a class={styleItem} href={breadcrumbs[0].to}>
    <Icon name="home" class="w-4 h-4" />
  </a>
  {breadcrumbs.slice(1, -1).map(({ to, title }: Link) => (
    <a key={to} class={`${styleItem} ${styleLink}`} href={to}>
      {title}
    </a>
  ))}
  <span class={styleItem}>{breadcrumbs[breadcrumbs.length - 1].title}</span>
</nav>
)}
