---
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import { getPageFromContent } from '@/cms/page';
import { fetchPages } from '@/api/pages';

import Layout from '@/components/Layout/Layout.astro';
import PostCard from './blog/components/PostCard.astro';

const pathname = Astro.request.url.pathname;
const locale = getLocaleFromUrlPathname(pathname);
const page = getPageFromContent(Astro.props.content, pathname, locale);
const { title, headline, metaTitle, metaDescription, noindex, nofollow, html } = page;

const breadcrumbs = {
  tailTitle: title,
};

const seo = {
  title: metaTitle,
  description: metaDescription,
  headline,
  noindex,
  nofollow,
};

const services = ((await fetchPages('services', locale)) || [])
  .filter((p) => (p as any).slug !== 'index')
  .sort((a, b) => (a as any).sortOrder - (b as any).sortOrder);
---

<Layout seo={seo} title={title} headline={headline} breadcrumbs={breadcrumbs}>
  {html && <div class="mt-6 mb-10" set:html={html} />}

  <div class="grid gap-7 lg:grid-cols-2 lg:grid-cols-3">
    {services.map((post: Post) => <PostCard post={post} />)}
  </div>
</Layout>
